.mobile-menu {
  padding: 24px;
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  border: 1px solid black;
  animation: swipeRight 0.4s ease;
}

.mobile-menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.mobile-menu a.mobile-active-link {
  color: #00a8cc;
}

.mobile-menu-text {
  color: rgba(0, 0, 0, 0.462);
}

.mobile-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .smaller-font {
  font-size: 18px;
}

.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid black;
}

.mobile-menu ul li {
  margin-bottom: 24px;
  font-size: 32px;
}

@keyframes swipeRight {
  0% {
    right: 100%;
  }
  100% {
    right: 0;
  }
}

@media (min-width: 640px) {
  .mobile-menu {
    display: none;
  }
}
