.shopping-cart {
  width: 0;
  padding: 24px;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  background-color: white;
  top: 0;
  bottom: 0;
  color: black;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  z-index: 1;
}

.close-icon-cart {
  color: black;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 90%;
}

.shopping-cart.open {
  width: 100vw;
  transform: translateX(0);
}

.my-order-content {
  overflow-y: auto;
  max-height: calc(100vh - 161px);
}

.empty-cart {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 121px);
  align-items: center;
  justify-content: center;
}

.p-cart {
  margin: 0;
}

.cart-image {
  object-fit: cover;
  border-radius: 10px;
  margin: 5px;
}

.center-button {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (min-width: 640px) {
  .shopping-cart {
    width: 0;
  }

  .shopping-cart.open {
    width: 400px;
  }
}
