.shopping-cart {
  width: 100vw;
  padding: 24px;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  background-color: white;
  top: 60px;
  bottom: 0;
  color: black;
  animation: swipeLeft 0.4s ease;
}

.my-order-content {
  overflow-y: auto;
  max-height: calc(100vh - 161px);
}

.empty-cart {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 121px);
  align-items: center;
  justify-content: center;
}

.p-cart {
  margin: 0;
}

.center-button {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@keyframes swipeLeft {
  0% {
    width: 0;
  }
  100% {
    width: 360px;
  }
}

@media (min-width: 640px) {
  .shopping-cart {
    width: 400px;
  }
}
