.recovery {
  width: 100vw;
  height: calc(100vh - 121px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.recovery-container {
  display: grid;
  grid-template-rows: 1fr;
}

@media (max-width: 640px) {
  .recovery-container {
    width: 300px;
  }
}
