.backgroundStyle {
  background-image: url("https://b2cmattelsa.vtexassets.com/assets/vtex.file-manager-graphql/images/ae39bb89-0a9c-4364-8303-8050d597bc1f___484457618d70650a8e733283470e0a1b.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
