.backgroundStyle {
  background-image: url("https://b2cmattelsa.vtexassets.com/assets/vtex.file-manager-graphql/images/ae39bb89-0a9c-4364-8303-8050d597bc1f___484457618d70650a8e733283470e0a1b.jpg");
  background-size: cover;
  background-position: center;
  width: calc(100vw - 17px);
  height: 100vh;
}
@media (max-width: 640px) {
  .backgroundStyle {
    background-image: url("https://b2cmattelsa.vtexassets.com/assets/vtex.file-manager-graphql/images/80a6f647-8499-46c3-add3-a81ec0548848___838cb2c8175802966e917f98bea13f7f.jpg");
  }
}
