.product-container {
  display: flex;
  margin: 50px;
  padding: 50px;
}

.product-imagen {
  width: 100px;
  height: 100px;
}

@media (max-width: 800px) {
  .product-container {
    margin: 0px;
    padding: 0px;
  }
}
