nav {
  top: 0;
  width: calc (100vw - 12px);
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: #212121;
  border-bottom: 1px solid #000;
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.container_logo {
  display: flex;
  align-items: center;
}

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar-left {
  display: flex;
}

.navbar-left ul {
  margin-left: 12px;
}

.navbar-left ul li a {
  font-size: vw;
}

.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: #ccc;
  padding: 8px;
  border-radius: 8px;
  margin-left: 12px;
}

.navbar-left ul li a.active-link {
  color: #00a8cc;
}

.navbar-left ul li a:hover {
  color: #00a8cc;
}

.mobile-navbar {
  height: 60px;
}

.mobile-layout {
  display: flex;
  width: 100%;
  max-width: 640px;
  justify-content: space-between;
  align-items: center;
}

.mobile-icon {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  margin: 10px;
  height: 35px;
  width: 35px;
}

.mobile-double{
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
}
