nav {
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: #333;
  border-bottom: 1px solid #000;
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.container_logo {
  display: flex;
  align-items: center;
}

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar-left {
  display: flex;
}

.navbar-left ul {
  margin-left: 12px;
}

.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: #ccc;
  padding: 8px;
  border-radius: 8px;
  margin-left: 12px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  border: 1px solid #00a8cc;
  color: #00a8cc;
}

.navbar-email {
  color: #ccc;
  font-size: 14px;
  margin-right: 12px;
}

.navbar-email:hover {
  cursor: pointer;
  color: #00a8cc;
}

.navbar-shopping-cart {
  position: relative;
  cursor: pointer;
}

.menu {
  display: none;
}

.mobile-navbar {
  height: 60px;
}

.mobile-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.mobile-icon {
  display: flex; 
  align-items: center; 
  text-align: center;
  margin-right: 10px;
}
