.signup {
  width: 100%;
  height: calc(100vh - 61px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.title {
  font-size: 48px;
  margin-bottom: 36px;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
}
.form .MuiTextField-root {
  margin-bottom: 20px;
}
.form a {
  color: cadetblue;
  text-align: center;
  text-decoration: none;
  margin-bottom: 52px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

@media (max-width: 640px) {
}
