.container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.container-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 16px;
  width: 100%;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.6);
  padding: 16px;
}

@media (max-width: 640px) {
  .container {
    width: 100%;
  }

  .modal-box {
    width: 90vw;
  }
}
