.container {
  width: 98%;
  height: calc(100vh - 121px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin: auto;
}

.container-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  width: 100%;
}

.search-product-admin{
  width: 500px;
}

.modal-box,
.modal-box-add {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.6);
  padding: 16px;
}

.modal-box-add {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  height: 90vh;
  overflow-y: auto;
}
.container-button {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

@media (max-width: 640px) {
  .search-product-admin{
    width: 200px;
  }
  
  .modal-box,
  .modal-box-add {
    width: 80vw;
  }

  .modal-box-add {
    height: 80vh;
  }
}
