.vertical-center {
  width: 100%;
  height: calc(100vh - 61px);
  display: flex;
  justify-content: center;
}
.container {
  align-items: center;
  display: flex;
}
.text-center {
  text-align: center;
}
a {
  text-decoration: none;
}
